In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.0.1'

# Methods of Creating a Series

1. Creating series from list

In [6]:
list_1 = [1, 2, -3, 4.5, 'indian']
print(list_1)#Python list stores int, float, string data types

[1, 2, -3, 4.5, 'indian']

Creating series using the above list

In [7]:
series1 = pd.Series(list_1)
print(series1)

0         1
1         2
2        -3
3       4.5
4    indian
dtype: object

In [8]:
type(series1) #pandas.core.series.Series means series is a one-dimensional array, which can store indexed data

pandas.core.series.Series

2. Creating Empty Series

In [9]:
empty_s = pd.Series([])
print(empty_s)
#Empty series is like an empty list, we can create empty series using an empty list

Series([], dtype: float64)

C:\Users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

3. Creating Series using a different method
List inside the series

In [11]:

series2 = pd.Series([1,2,3,4,5])
print(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
#in index parameter, default index is start from 0 to n (0,1,2,….n) when index is not identified
#Here we are creating series with the index parameter
#Index length should have equal to the number of data values, otherwise, it shows error

series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c','d','e'])
print(series2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

Changing data type of series (Convert int into a float)

In [14]:
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'], dtype = float)
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

#4. Creating series from scalar values

scalar values means single value
e.g. 1, 0.5, ‘indian’

In [15]:
s3_scalar = pd.Series(2)
print(s3_scalar)

0    2
dtype: int64

In [16]:
s3_scalar = pd.Series(2, index = [1,2,3,4,5])
print(s3_scalar)

1    2
2    2
3    2
4    2
5    2
dtype: int64

5. Creating series from python dictionary

In [17]:
s4_dict = pd.Series({'a':1, 'b':2, 'c':3})
print(s4_dict)

a    1
b    2
c    3
dtype: int64

Accessing element from series
Pandas Series supports most Python functions.
Now, we are accessing element from series2

In [18]:
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [19]:
series2[3]

4.0

In [20]:
series2[4]

5.0

#Slicing series
Here we are slicing series with index value 1 to 4 that means 1 is inclusive(it can be taken) and 4 is exclusive(it can be not taken)

In [21]:
series2[1:4]

b    2.0
c    3.0
d    4.0
dtype: float64

#Adding two serieses

In [22]:
s5 = pd.Series([1,2,3,4,5])
s6 = pd.Series([1,2,3,4,5])
 
a = s5 + s6
print(a)

0     2
1     4
2     6
3     8
4    10
dtype: int64

we can also add series using add method

In [23]:
s5.add(s6)

0     2
1     4
2     6
3     8
4    10
dtype: int64

min() operator gives minimum value of particular series

In [24]:
min(a)

2

In [25]:
max(a)

10

In [26]:
a[a < 8]

0    2
1    4
2    6
dtype: int64

In [27]:
a.drop(4)

0    2
1    4
2    6
3    8
dtype: int64

Pandas have additional functions to fill missing values, it does not show an error when the value is missing. Missing values are shown by NaN.
See below example:

In [28]:
s7 = pd.Series([1,2,3])
print(s7)

0    1
1    2
2    3
dtype: int64

Pandas have additional functions to fill missing values, it does not show an error when the value is missing. Missing values are shown by NaN.
See below example:


In pandas, we can add the unequal data values series. Here series s6 have 5 data values and s7 have 3 data values, when we perform addition operation it adds successfully

In [29]:
s6+s7

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64